@font-face {
  font-family: "SegoeWP";
  src: local("SegoeWP"), url("../fonts/SegoeWP.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "SegoeWP-Light";
  src: local("SegoeWP-Light"), url("../fonts/SegoeWP-Light.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}

.container {
  max-width: 1020px;
  margin: 0 auto;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

a {
  text-decoration: none;
  cursor: pointer;
}

/*** HEADER ***/
.header {
  padding: 28px 0 70px;
  background: url("../img/bg_header.jpg");
  background-size: cover;
}

.header-nav {
  margin-bottom: 52px;
}

.header-logo {
  float: left;
}

.logo {
}

.header-menu {
  float: right;
  margin: 43px 0 0;
  padding: 0;
  font-size: 0;
  box-shadow: -4px -5px 0 0 rgba(245, 197, 6, 0.27),
    -8px -8px 0 0 rgba(245, 197, 6, 0.27);
}

.header-menu li {
  display: inline-block;
  vertical-align: top;
  border-right: 1px solid #ddb205;
}

.header-menu li:last-child {
  border-right: none;
}

.header-menu a {
  display: block;
  height: 40px;
  background: #f5c506;
  color: #9b7d08;
  text-align: center;
  font: 400 17px/40px "SegoeWP", sans-serif;
  text-transform: uppercase;
  padding: 0 20px 0 15px;
}

.header-menu a:hover {
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.header-menu a::before {
  content: "";
  display: inline-block;
  margin-right: 9px;
  transform: translateY(3px);
}

.header-menu li:nth-child(1) a {
  padding-left: 40px;
}

.header-menu li:nth-child(1) a::before {
  width: 21px;
  height: 19px;
  background: url("../img/icon_men.svg") no-repeat;
}

.header-menu li:nth-child(2) a::before {
  width: 19px;
  height: 19px;
  background: url("../img/icon_services.svg") no-repeat;
}

.header-menu li:nth-child(3) a::before {
  width: 24px;
  height: 18px;
  background: url("../img/icon_mail.svg") no-repeat;
}

/*** SLIDER ***/
.slider {
  position: relative;
}

.slider-wrap {
  box-sizing: border-box;
  padding: 0 10px;
  font-size: 0;
}

.slider-item {
}

.slider-video {
  display: inline-block;
  vertical-align: top;
  width: 550px;
  height: 330px;
  outline: none;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.75);
}

.slider-text {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  width: 450px;
  padding-top: 77px;
}

.slider-text h3 {
  margin: 0;
  text-transform: uppercase;
  text-align: center;
  color: #f5c506;
  font: 400 63px/75px "Asap", sans-serif;
  letter-spacing: 1px;
  padding-left: 20px;
}

.slider-text span {
  display: block;
  color: #ffffff;
  padding-left: 20px;
}

.slider-btn {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 32px;
  height: 58px;
  background: #c3a109;
}

.slider-btn:hover {
  box-shadow: inset 0 0 5px 0 rgba(0, 0, 0, 1);
}

.slider-btn:hover {
  cursor: pointer;
}

.slider-btn::before,
.slider-btn::after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 13px;
  height: 19px;
  margin: auto;
}

.slider-btn-left {
  left: 0;
}

.slider-btn-left::before {
  content: url("../img/arrow_left.svg");
}

.slider-btn-right {
  right: 0;
}

.slider-btn-right::before {
  content: url("../img/arrow_right.svg");
}

/*** SECTION PRODUCT ***/
.products {
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.5);
  background: url("../img/bg.jpg") repeat;
  position: relative;
}

.products::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 0;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);
}

.products-wrap {
  font-size: 0;
}

.products-item {
  display: inline-block;
  vertical-align: top;
  width: 340px;
  padding: 35px 0;
  border-left: 1px solid rgba(0, 0, 0, 0.14);
  box-sizing: border-box;
}

.products-item:first-child {
  padding-top: 60px;
}

.products-item:nth-child(2) {
}

.products-item:last-child {
  border-right: 1px solid rgba(0, 0, 0, 0.14);
  padding-top: 53px;
  padding-right: 15px;
}

.products-item img {
  display: block;
  margin: 0 auto 15px;
}

.products-item:nth-child(2) img {
  margin-bottom: 19px;
  padding-left: 22px;
}

.products-item:last-child img {
  margin-bottom: 13px;
  padding-left: 0;
}

.products-item h4 {
  margin: 0;
  padding-left: 13px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  font: 400 27px/27px "SegoeWP-Light", sans-serif;
}

.products-item:last-child h4 {
  padding-left: 0;
}

/*** SECTION YELLOW ***/
.yellow {
  padding: 37px 0 20px;
  background: url("../img/bg_yellow.jpg");
  background-size: cover;
}

.yellow-wrap {
}

.yellow-wrap h4 {
  margin: 0 0 35px;
  font: 400 37px/37px "PT Sans", sans-serif;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 0.01em;
}

/*** SLIDER IN YELLOW ***/
.band {
}

.band-wrap {
  height: 320px;
  font-size: 0;
  overflow: hidden;
  white-space: nowrap;
}

.band-item {
  display: inline-block;
  margin-right: 34px;
}

.band-text {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 340px;
  height: 235px;
  padding: 15px 10px 0 30px;
  box-sizing: border-box;
  background: #ec9e03;
}

.band-text img {
  display: block;
  margin: 60px auto 0;
}

.band-number {
  position: absolute;
  top: 13px;
  right: 30px;
  width: 24px;
  height: 18px;
  font: 400 25px "SegoeWP-Light", sans-serif;
  color: #ffffff;
}

.band-plus {
  position: absolute;
  bottom: 13px;
  right: 14px;
  width: 11px;
  height: 11px;
  background: url("../img/icon_plus.svg");
  transition: all 0.25s;
}

.band-plus:hover {
  transform: scale(2);
}

.band-text p {
  margin: 0;
  color: #ffffff;
  font: 400 29px/38px "SegoeWP-Light", sans-serif;
  white-space: normal;
  letter-spacing: 0.01em;
}

.band-date {
  position: absolute;
  left: 0;
  bottom: -85px;
  width: 115px;
  height: 85px;
  background: #ddb101;
  font: 700 50px/50px "SegoeWP", sans-serif;
  color: #ffffff;
  text-align: center;
  padding-top: 7px;
  box-sizing: border-box;
}

.band-date span {
  display: block;
  font: 400 22px/22px "SegoeWP", sans-serif;
  color: #b26529;
  text-transform: uppercase;
}

.band-range {
  -webkit-appearance: none;
  border-radius: 2px;
  width: 900px;
  height: 15px;
  outline: none;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 7px;
  margin: 43px auto 0;
  display: block;
}

.band-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 195px;
  height: 15px;
  background: #ec9e03;
  border-radius: 7px;
  cursor: pointer;
  transition: 0.1s;
}

.band-range::-webkit-slider-thumb:hover {
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
}

.band-video {
  display: inline-block;
  vertical-align: top;
  width: 315px;
  height: 235px;
  outline: none;
}

.band-img {
  display: inline-block;
  vertical-align: top;
  width: 315px;
  height: 235px;
}

.band-twitter {
  display: inline-block;
  vertical-align: top;
  width: 315px;
  height: 235px;
  padding: 25px 0 0 10px;
  background: #f5c507;
  box-sizing: border-box;
}

.band-twitter ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.band-twitter li {
  position: relative;
  width: 275px;
  padding: 5px 40px 5px 20px;
  box-sizing: border-box;
  font: 400 13px "Arial", sans-serif;
  color: #8f8e8e;
  background: rgba(255, 255, 255, 0.7);
  white-space: normal;
  margin-bottom: 14px;
  border-radius: 10px;
}

.band-twitter li::before {
  content: "";
  position: absolute;
  left: -9px;
  top: 21px;
  display: block;
  width: 9px;
  height: 13px;
  background: url("../img/icon_corner_transparent.svg");
}

.band-twitter li:first-child {
  background: rgba(255, 255, 255, 1);
}

.band-twitter li:first-child::before {
  background: url("../img/icon_corner_white.svg");
}

.band-form {
  display: inline-block;
  border: 1px solid #d0a806;
  border-radius: 10px 10px 10px 10px;
}

.band-form input[type="text"] {
  display: inline-block;
  vertical-align: top;
  width: 200px;
  height: 30px;
  background: #ffffff;
  border-radius: 9px 0 0 9px;
  border: 0;
  box-sizing: border-box;
  font: 400 15px "Arial", sans-serif;
  padding: 0 20px;
  box-shadow: inset 5px 5px 5px 0 rgba(0, 0, 0, 0.11);
}

.band-form input[type="text"]:focus {
  outline: none;
  box-shadow: inset 0 0 5px 0 rgba(0, 0, 0, 0.5);
}

.band-form input[type="button"] {
  font: 400 15px "Arial", sans-serif;
  background: #eaa927;
  background: -moz-linear-gradient(top, #eaa927 0%, #cf8e0c 98%);
  background: -webkit-linear-gradient(top, #eaa927 0%, #cf8e0c 98%);
  background: linear-gradient(to bottom, #eaa927 0%, #cf8e0c 98%);
  color: #ffffff;
  width: 70px;
  height: 30px;
  border: 0;
  box-sizing: border-box;
  border-radius: 0 9px 9px 0;
  cursor: pointer;
}

.band-form input[type="button"]:hover {
  box-shadow: inset 0 0 5px 0 rgba(0, 0, 0, 0.5);
}

/*** SECTION GRAY ***/
.gray {
  padding: 45px 0 70px;
  background: url("../img/bg_gray.jpg");
  background-size: cover;
}

.gray-wrap {
}

.gray-wrap h4 {
  margin: 0 0 50px;
  font: 400 43px/43px "PT Sans", sans-serif;
  color: #f5c506;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.01em;
}

.gray-content {
}

.gray-content-image {
  float: left;
  position: relative;
  width: 620px;
  padding-left: 20px;
  box-sizing: border-box;
}

.gray-content-image img {
  display: block;
}

.gray-content-image div {
  position: absolute;
  top: -42px;
  left: 0;
  width: 115px;
  height: 115px;
  border-radius: 50%;
  background: #f5c506;
  font: 700 19px/115px "PT Sans Narrow", sans-serif;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
}

.gray-content-text {
  float: right;
  width: 400px;
  margin: 0;
  padding: 45px 0 0 50px;
  list-style-type: none;
  box-sizing: border-box;
}

.gray-content-text li {
  position: relative;
  margin-bottom: 22px;
  font: 400 22px/26px "Open Sans", sans-serif;
  color: #a9a9a7;
  letter-spacing: 0.01em;
}

.gray-content-text li::before {
  content: "";
  position: absolute;
  top: 8px;
  left: -34px;
  display: inline-block;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #f5c506;
}

/*** FOOTER ***/
.footer {
  padding: 6px 0 4px;
  background: #4c4c4c;
  box-shadow: 0 -5px 5px 0 rgba(0, 0, 0, 0.5);
}

.footer-logo {
  display: inline-block;
  vertical-align: top;
}

.footer-logo img {
  display: block;
  width: 223px;
  margin: 0 0 0 0;
}
